.user-card {
    padding: 20px;
    background-color: #e0e0e0;
    margin: 10px;
    width: 280px;
    display: flex;
    border-radius: 8px;
    align-items: center;
  }
  
  .user-avatar {
    height: 50px;
    width: 50px;
    background-color: #00e5ff;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-info {
    text-align: left;
  }
  
  .user-info h2 {
    margin: 0 0 5px 0;
    font-size: 16px;
    color: #333;
  }
  
  .user-info p {
    font-size: 14px;
    margin: 0;
    color: #555;
  }
  